<h1>Bem-vindo ao sistema de trocas de moedas</h1>

<% if @transactions.length == 0 %>
 <p><%= 'Você ainda não possui transações cadastradas' %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Quantidade</th>
      <th>Moeda</th>
      <th>Tipo</th>
      <th>Total</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= format("%.2f", t.amount) %></td>
        <td><%= t.en_to_pt(t.currency) %></td>
        <td><%= t.en_to_pt(t.transaction_type)%></td>
        <td><%= "$ #{format("%.2f", t.total)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
