<h1 class="ls-title-intro ls-ico-home">Bem-vindo ao sistema de trocas de moedas</h1>


<div class="ls-box-filter">
  <form action="" class="ls-form ls-form-inline">
    <label class="ls-label col-md-4 col-sm-4">
      <%= form_tag "/", method: "get" do %>
      <b class="ls-label-text"> <%= label_tag(:currency, 'Filtro por moeda')%> </b>
      <div class="ls-custom-select">
        <%= select_tag :currency, options_for_select([['Dólar', 'dollar'], ['Real', 'real']],) %>
      </div>
    </label>
    <div class="ls-actions-btn">
      <%= submit_tag "Filtrar", class: "ls-btn" %>
    </div>
    <% end %>
  </form>
</div>

<% if @transactions.empty? %>
  <p style="font-size: 30px; text-align: center;"><strong>Você ainda não possui transações cadastradas.</strong></p>

<% else %>
  <%= render partial: 'layouts/index' %>

<% end %>

<%= link_to 'Ver todas', transactions_path, class: "ls-btn ls-btn-lg ls-btn-block" %>
